# Node modules
node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
debug.log
output.log

# Build output
build
dist
.cache

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Docker files
Dockerfile
docker-compose.yml